extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let flightid = toShow._id
    - let flight_name = toShow.flight_name
    - let flight_cost = toShow.cost
    - let flight_baggage = toShow.baggage
    - let actionid = "/resource/flight/" + flightid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='flightAttr mr-3') flight ID is:
        div #{flightid}

      div.row
        div(class='flightAttr mr-3') flight name is:
        div #{flight_name}

      div.row
        div(class='flightAttr mr-3') flight cost is:
        div #{flight_cost}

      div.row
        div(class='flightAttr mr-3') flight baggage is:
        div #{flight_baggage}

      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the flight collection
        window.location.href='/flights'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.text(); //or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/flight'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
