extends layout
block content
  h1= title
  - let flightid = toShow._id
  - let flight_name  = toShow.flight_name
  - let flightcost = toShow.flight_cost
  - let flightsize = toShow.flight_baggage 
  div
    div.row
      div(class='flightAttr mr-3') flight ID is:
      div #{flightid}
    div.row
      div(class='flightAttr mr-3') flight Type is:
      div #{flight_name}
    div.row
      div(class='flightAttr mr-3') flight cost is:
      div #{flightcost}
    div.row
      div(class='flightAttr mr-3') flight baggage  is:
      div #{flightbaggage}