extends layout
block content
  h1= title
  - let flightid = toShow._id
  - let flight_name  = toShow.flight_name
  - let flight_cost = toShow.cost
  - let flight_baggage = toShow.baggage 
  div
    div.row
      div(class='flightAttr mr-3') flight ID is:
      div #{flightid}
    div.row
      div(class='flightAttr mr-3') flight Type is:
      div #{flight_name}
    div.row
      div(class='flightAttr mr-3') flight cost is:
      div #{flight_cost}
    div.row
      div(class='flightAttr mr-3') flight baggage  is:
      div #{flight_baggage}